<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<title>FloraTer</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
			integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
			crossorigin=""
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Chakra+Petch:300,400,700|Roboto+Condensed"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Material+Icons"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<noscript>
			<strong
				>Przepraszamy, ale FloraTer nie działa poprawnie bez włączonego
				JavaScript'u. Proszę włącz JavaScript, aby kontynuować.</strong
			>
		</noscript>
		<div id="app"></div>
	</body>
</html>
