<template>
  <div class="form">
    <h1 v-if="!$store.state.isUserLogedIn">Aby dodać roślinę do bazy musisz być zalogowany!</h1>
    <v-layout v-if="$store.state.isUserLogedIn">
      <v-snackbar class="snackbar" v-model="snackbar" :timeout="3000" top right color="success">
        <span class="snackbar__title">Dodano do bazy</span>
        <v-btn flat color="white" @click="snackbar = false">Zamknij</v-btn>
      </v-snackbar>
      <div class="form__position">
        <v-flex>
          <p class="form__title">Stanowiska</p>
          <v-flex xs12 sm12 md12 lg12 class="form__searching">
            <panel>
              <v-flex xs8 sm10 md10 lg10>
                <v-text-field
                  outline
                  label="Wyszukaj"
                  placeholder="morasko"
                  @change="get"
                  v-model="search"
                ></v-text-field>
              </v-flex>
            </panel>
          </v-flex>

          <div class="form__send__positions">
            <v-expansion-panel popout class="form__expansionPanel__positions">
              <v-expansion-panel-content v-for="position in positions" :key="position.id">
                <template v-slot:actions>
                  <v-icon color="primary">$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                  <div
                    v-on:click="select(position.id)"
                    class="form__expansionPanel__title"
                  >Stanowisko {{ position.id }}: {{ position.place }}</div>
                </template>
                <v-card class="form__expansionPanel__positions-title">
                  <ul>
                    <li>Grupa: {{ position.group }}</li>
                    <li>Nazwa stanowiska: {{ position.place }}</li>
                    <li>Siedlisko: {{ position.habitat }}</li>
                    <li>Data: {{ position.user_date }}</li>
                    <li>Współrzędne: {{ position.location }}</li>
                    <li>Informacje dodatkowe: {{ position.comment }}</li>
                    <li>Kwadrat: {{ position.atpol_grid }}</li>
                  </ul>
                </v-card>
                <v-flex>
                  <v-expansion-panel popout class="form__expansionPanel__addPlant">
                    <v-expansion-panel-content>
                      <template v-slot:actions>
                        <v-icon color="primary">add_circle</v-icon>
                      </template>
                      <template v-slot:header>
                        <div
                          class="form__expansionPanel__title"
                        >Dodaj Roślinę do Stanowiska {{ position.place }}</div>
                      </template>
                      <v-card ref="form">
                        <v-card-text>
                          <v-text-field
                            clearable
                            ref="name"
                            v-model="latin_name"
                            label="Nazwa łacińska"
                            placeholder="Alcea rosea"
                            v-on:focus="select(position.id)"  
                            required
                          ></v-text-field>
                          <v-text-field
                            clearable
                            ref="name"
                            v-model="polish_name"
                            label="Nazwa polska"
                            placeholder="Malwa różowa"
                            v-on:focus="select(position.id)"  
                            required
                          ></v-text-field>
                          <v-checkbox v-model="herbarium" label="Czy roślina została zebrana?"></v-checkbox>
                          <v-flex xs12 sm6>
                            <v-slider
                              v-model="resources"
                              color="green"
                              label="Zasoby"
                              min="1"
                              max="3"
                              thumb-label
                            ></v-slider>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field
                              clearable
                              class="form__description"
                              v-model="description"
                              label="Informacje dodatkowe"
                              background-color="grey"
                              outline
                            ></v-text-field>
                          </v-flex>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn class="form__add" color="primary" @click="submit_plant">Dodaj</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </div>
        </v-flex>
      </div>

      <div class="form__plant">
        <p class="form__title2">Dodaj Stanowisko</p>
        <v-expansion-panel popout class="form__expansionPanel">
          <v-expansion-panel-content>
            <template v-slot:actions>
              <v-icon color="green">$vuetify.icons.expand</v-icon>
            </template>
            <template v-slot:header>
              <div class="form__expansionPanel__title">Nowe Stanowisko</div>
            </template>
            <v-card>
              <v-card ref="form">
                <v-card-text>
                  <v-text-field
                    clearable
                    ref="name"
                    v-model="group_number"
                    label="Numer grupy"
                    placeholder="1"
                  ></v-text-field>
                  <v-text-field
                    clearable
                    ref="name"
                    v-model="position_name"
                    label="Nazwa stanowiska"
                    placeholder="Morasko Poznań"
                    required
                  ></v-text-field>
                  <v-text-field
                    clearable
                    ref="name"
                    v-model="habitat_name"
                    label="Siedlisko"
                    placeholder="Nadmorskie"
                  ></v-text-field>
                  <div class="form__calendar">
                    <v-layout row wrap>
                      <v-flex xs12 sm6 md4>
                        <v-dialog
                          ref="dialog"
                          v-model="modal"
                          :return-value.sync="date"
                          persistent
                          lazy
                          width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              v-model="date"
                              label="Wybierz datę z kalendarza"
                              prepend-icon="event"
                              readonly
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            header-color="green"
                            first-day-of-week="1"
                            locale="pl-pl"
                            v-model="date"
                            :allowed-dates="allowedDates"
                            min="2010-01-01"
                            max="2040-01-01"
                          >
                            <v-btn flat color="primary" @click="modal = false">Anuluj</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialog.save(date)">Wybierz</v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-flex>
                    </v-layout>
                  </div>
                  <v-text-field
                    prepend-icon="gps_fixed"
                    ref="geo"
                    v-model="geo"
                    label="Współrzędne geograficzne"
                    placeholder="52.2 16.8"
                  ></v-text-field>
                  <v-flex sm10 md10 lg10>
                    <v-text-field
                      clearable
                      class="form__description"
                      v-model="description_position"
                      label="Informacje dodatkowe"
                      background-color="grey"
                      outline
                    ></v-text-field>
                  </v-flex>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="form__add" color="green white--text" @click="submit_position">Dodaj</v-btn>
                </v-card-actions>
              </v-card>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </div>
    </v-layout>
  </div>
</template>


<script>
import { required, maxLength, minLength } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    modal: false,
    menu2: false,
    snackbar: false,
    positions: [],
    report: null,
    title: "Stanowiska",

    latin_name: "",
    polish_name: "",
    description: "",

    group_number: "",
    position_name: "",
    habitat_name: "",
    geo: "",
    description_position: "",

    user_date: "",
    herbarium: "",
    resources: "",
  }),

  methods: {
    get() {
      this.$store.commit("setHeaderTitle", this.title);
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          ordering: this.order
        }
      };

      axios
        .get(`${process.env.VUE_APP_API_URL}reports/main/?`, Config)
        .then(response => {
          this.positions = response.data.results;
        })
        .catch(error => {
          console.log(error);
        });
    },

    select(i) {
      this.report = i;
    },

    submit_position() {
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };
      let data = {
        group: this.group_number == "" ? undefined : this.group_number,
        place: this.position_name == "" ? undefined : this.position_name,
        habitat: this.habitat_name == "" ? undefined : this.habitat_name,
        user_date: this.date == "" ? undefined: this.date,
        location: this.geo == "" ? undefined: this.geo,
        comment:
          this.description_position == ""
            ? undefined
            : this.description_position
      };

      const submitPosition = () => {
        try {
          return axios.post(
            `${process.env.VUE_APP_API_URL}reports/main/?`,
            data,
            Config
          );
        } catch (error) {
          console.log(error);
        }
      };
      const clear = () => {
        this.group_number = "";
        this.position_name = "";
        this.habitat_name = "";
        this.geo = "";
        this.description_position = "";
      };

      const showSubmitPositionResponse = async () => {
        const data = submitPosition()
          .then(response => {
            this.snackbar = true;
            this.get();
          })
          .catch(error => {
            alert(
              "Nie udało się wysłać stanowiska, wypełnij formularz poprawnie"
            );
          });
      };
      showSubmitPositionResponse();
      clear();
    },

    submit_plant() {
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };
      let data = {
        latin_name: this.latin_name == "" ? undefined : this.latin_name,
        polish_name: this.polish_name == "" ? undefined : this.polish_name,
        herbarium: this.herbarium == "" ? undefined: this.herbarium,
        resources: this.resources == "" ? undefined: this.resources,
        extra_info: this.description == "" ? undefined : this.description,
        report: this.report
      };

      const submitPlant = () => {
        try {
          return axios.post(
            `${process.env.VUE_APP_API_URL}reports/plants/`,
            data,
            Config
          );
        } catch (error) {
          console.log(error);
        }
      };
      const clear2 = () => {
        this.latin_name = "";
        this.polish_name = "";
        this.description = "";
      };
      const showSubmitPlantResponse = async () => {
        const data = submitPlant()
          .then(response => {
            this.snackbar = true;
            // clear2();
          })
          .catch(error => {
            alert("Nie udało się wysłać rośliny, wypełnij formularz poprawnie");
            // clear2();
          });
      };
      showSubmitPlantResponse();
      clear2();
    }
  },
  created() {
    this.get();
  }
};
</script>

<style scoped lang="scss">
.v-input {
  font-size: 19px;
}
.form {
  box-sizing: border-box;

  &__expansionPanel {
    margin-right: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 550px;
    &__addPlant {
      padding-left: 0px;
    }
    &__positions {
      margin-top: 20px;
      margin-left: 25px;
      width: 550px;
      &-title {
        font-size: 20px;
      }
    }
    &__title {
      font-size: 20px;
    }
  }
  &__plant {
    margin-left: 100px;
  }
  &__searching {
    font-weight: bold;
    margin-left: 38px;
  }

  &__title {
    font-size: 36px;
    margin-left: 40px;
  }
  &__title2 {
    font-size: 36px;
    margin-left: 20px;
  }
  &__calendar {
    margin-top: 10px;
    width: 600px;
  }
  &__add {
    font-size: 16px;
  }
  &__description {
    margin-top: 80px;
    width: 500px;
  }
}
h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}
.snackbar {
  margin-top: 5%;
  &__title {
    font-size: 20px;
  }
}
</style>
