<template class="group">
  <div id="group">
    <h1 v-if="!$store.state.isUserLogedIn">Aby zobaczyć grupy studenckie musisz być profesorem!</h1>
    <v-layout v-if="$store.state.accountType == 'profesor'">
      <v-snackbar class="snackbar" v-model="snackbar" :timeout="3000" top right color="success">
        <span class="snackbar__title">Dodano do bazy</span>
        <v-btn flat color="white" @click="snackbar = false">Zamknij</v-btn>
      </v-snackbar>
      <div class="group__position">
        <v-flex>
          <p class="group__title">Grupy</p>
          <!-- <v-flex xs12 sm12 md12 lg12 class="group__searching">
            <panel>
              <v-flex xs8 sm10 md10 lg10>
                <v-text-field outline label="Wyszukaj" @change="get" v-model="search"></v-text-field>
              </v-flex>
            </panel>
          </v-flex>-->

          <div class="group__send__positions">
            <v-expansion-panel popout class="group__expansionPanel__positions">
              <v-expansion-panel-content v-for="group in groups" :key="group.id">
                <template v-slot:actions>
                  <v-icon color="primary">$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                  <div v-on:click="select(group.id)" class="group__expansionPanel__title">
                    Grupa {{ group.number }},
                    {{ group.specialization }}
                  </div>
                </template>
                <v-card class="group__expansionPanel__positions-title">
                  <ul>
                    <li>Numer grupy: {{ group.number }}</li>
                    <li>
                      Specjalizacja:
                      {{ group.specialization }}
                    </li>
                    <li>
                      Profesor:
                      {{ group.professor.first_name }}
                      {{ group.professor.last_name }}
                    </li>
                    <v-expansion-panel popout>
                      <v-expansion-panel-content>
                        <template v-slot:actions>
                          <v-icon color="primary">$vuetify.icons.expand</v-icon>
                        </template>
                        <template v-slot:header>Lista studentów</template>
                        <v-expansion-panel popout>
                          <v-expansion-panel-content
                            v-for="student in group.students"
                            :key="student.index"
                          >
                            <template v-slot:actions>
                              <v-icon color="icon">$vuetify.icons.expand</v-icon>
                            </template>
                            <template v-slot:header>
                              {{
                              student.index
                              }}
                            </template>
                            <ul>
                              <li>
                                Imię:
                                {{
                                student.first_name
                                }}
                              </li>
                              <li>
                                Nazwisko:
                                {{
                                student.last_name
                                }}
                              </li>
                            </ul>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </ul>
                </v-card>
                <v-flex>
                  <v-expansion-panel popout class="group__expansionPanel__addPlant">
                    <v-expansion-panel-content>
                      <template v-slot:actions>
                        <v-icon color="primary">add_circle</v-icon>
                      </template>
                      <template v-slot:header>
                        <div class="group__expansionPanel__title">
                          Dodaj studenta do grupy
                          {{ group.id }}
                        </div>
                      </template>
                      <v-card ref="group">
                        <v-card-text>
                          <v-text-field
                            clearable
                            ref="name"
                            v-model="student_id"
                            label="Numer indeksu"
                            placeholder="456821"
                            v-on:focus="select(group.id)"
                            required
                          ></v-text-field>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn class="group__add" color="primary" @click="submit_student">Dodaj</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </div>
        </v-flex>
      </div>

      <div class="group__plant">
        <p class="group__title2">Dodaj Grupę</p>
        <v-expansion-panel popout class="group__expansionPanel">
          <v-expansion-panel-content>
            <template v-slot:actions>
              <v-icon color="green">$vuetify.icons.expand</v-icon>
            </template>
            <template v-slot:header>
              <div class="group__expansionPanel__title">Nowa Grupa</div>
            </template>
            <v-card>
              <v-card ref="group">
                <v-card-text>
                  <v-text-field
                    clearable
                    ref="name"
                    v-model="group_number"
                    label="Numer grupy"
                    placeholder="1"
                    required
                  ></v-text-field>
                  <v-text-field
                    clearable
                    class="group__description"
                    v-model="group_specialization"
                    label="Specjalizacja grupy"
                    background-color="grey"
                    outline
                  ></v-text-field>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="group__add" color="green white--text" @click="submit_group">Dodaj</v-btn>
                </v-card-actions>
              </v-card>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </div>
    </v-layout>
  </div>
</template>

<script>
import { required, maxLength, minLength } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    modal: false,
    menu2: false,
    snackbar: false,
    groups: [],
    users: [],
    report: null,
    title: "Grupy studenckie",

    group_number: "",
    group_specialization: "",
    student_id: ""
  }),

  methods: {
    get() {
      this.$store.commit("setHeaderTitle", this.title);
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          ordering: this.order
        }
      };

      axios
        .get(`${process.env.VUE_APP_API_URL}users/?`, Config)
        .then(response => {
          this.users = response.data.results;
          console.log(this.users);
        })
        .catch(error => {
          console.log(error);
        });
    },

    select(i) {
      this.report = i;
    },

    get_groups() {
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };

      axios
        .get(`${process.env.VUE_APP_API_URL}reports/groups/?`, Config)
        .then(response => {
          this.groups = response.data.results;
          console.log(this.groups);
        })
        .catch(error => {
          console.log(error);
        });
    },
    submit_group() {
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };
      let data = {
        number: this.group_number == "" ? undefined : this.group_number,
        specialization:
          this.group_specialization == ""
            ? undefined
            : this.group_specialization
      };

      const submitGroup = () => {
        try {
          return axios.post(
            `${process.env.VUE_APP_API_URL}reports/groups/?`,
            data,
            Config
          );
        } catch (error) {
          console.log(error);
        }
      };

      const showSubmitGroupResponse = async () => {
        const data = submitGroup()
          .then(response => {
            this.snackbar = true;
            this.get_groups();
            this.get();
          })
          .catch(error => {
            alert("Nie udało się wysłać grupy, wypełnij formularz poprawnie");
          });
      };
      showSubmitGroupResponse();
      this.group_number = "";
      this.group_specialization = "";
    },

    submit_student() {
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };
      let data = {
        index: this.student_id == "" ? undefined : this.student_id,
        report: this.report
      };

      const submitStudent = () => {
        try {
          return axios.post(
            `${process.env.VUE_APP_API_URL}reports/groups/${this.report}/add_student/`,
            data,
            Config
          );
        } catch (error) {
          console.log(error);
        }
      };

      const showSubmitStudentResponse = async () => {
        const data = submitStudent()
          .then(response => {
            this.snackbar = true;
            this.get_groups();
            this.get();
          })
          .catch(error => {
            alert("Nie udało się dodać studenta, wypełnij formularz poprawnie");
          });
      };
      this.student_id = "";
      showSubmitStudentResponse();
    }
  },
  created() {
    this.get();
    this.get_groups();
  }
};
</script>

<style scoped lang="scss">
.v-input {
  font-size: 19px;
}
.group {
  box-sizing: border-box;

  &__expansionPanel {
    margin-right: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 550px;
    &__addPlant {
      padding-left: 0px;
    }
    &__positions {
      margin-top: 20px;
      margin-left: 25px;
      width: 550px;
      &-title {
        font-size: 20px;
      }
    }
    &__title {
      font-size: 20px;
    }
  }
  &__plant {
    margin-left: 100px;
  }
  &__searching {
    font-weight: bold;
    margin-left: 38px;
  }

  &__title {
    font-size: 36px;
    margin-left: 40px;
  }
  &__title2 {
    font-size: 36px;
    margin-left: 20px;
  }
  &__add {
    font-size: 16px;
  }
  &__description {
    margin-top: 80px;
    width: 500px;
  }
}
h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}
.snackbar {
  margin-top: 5%;
  &__title {
    font-size: 20px;
  }
}
</style>
