<template class="header">
  <nav>
    <v-snackbar class="snackbar" v-model="snackbar" :timeout="3000" top right color="blue">
      <span class="snackbar__title">Wylogowano</span>
      <v-btn flat color="white" @click="snackbar = false">Zamknij</v-btn>
    </v-snackbar>
    <v-toolbar fixed class="header" app>
      <v-toolbar-side-icon color="white--text" @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-if="$vuetify.breakpoint.smAndUp">
        <v-btn class="icon" fab small :to="{
						name: 'home',
					}">
          <v-icon color="white">home</v-icon>
        </v-btn>
        <span class="text white--text">FloraTer</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <span v-if="$vuetify.breakpoint.mdAndUp" class="headerTitle">{{ $store.state.headerTitle }}</span>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          class="green white--text"
          v-if="!$store.state.isUserLogedIn"
          :to="{
						name: 'login',
					}"
        >
          <div v-if="$vuetify.breakpoint.mdAndUp">Logowanie</div>
          <i class="fas fa-sign-in-alt"></i>
        </v-btn>
        <v-btn
          class="blue white--text"
          v-if="!$store.state.isUserLogedIn"
          :to="{
						name: 'register',
					}"
        >
          <div v-if="$vuetify.breakpoint.mdAndUp">Rejestracja</div>
          <i class="register fas fa-user-plus"></i>
        </v-btn>
        <v-btn
          class="blue white--text"
          v-if="$store.state.isUserLogedIn"
          @click="
						logout({
							name: 'home',
						})
					"
        >
          <div v-if="$vuetify.breakpoint.mdAndUp">Wyloguj się</div>
          <i class="logout fas fa-sign-out-alt"></i>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-navigation-drawer app v-model="drawer" class="navbar">
      <div v-if="!$store.state.isUserLogedIn">
        <v-layout column align-center>
          <v-flex class="mt-3">
            <p class="white--text subheading mt-4">Zaloguj się, aby zobaczyć więcej</p>
          </v-flex>
        </v-layout>
        <v-spacer></v-spacer>
        <v-list class="list">
          <v-list-tile router :to="{ name: 'home' }">
            <v-list-tile-action>
              <v-icon class="white--text">dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="white--text">Strona główna</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile router :to="{ name: 'team' }">
            <v-list-tile-action>
              <v-icon class="white--text">person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="white--text">Twórcy</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </div>
      <v-layout column align-center v-if="$store.state.isUserLogedIn">
        <v-flex class="mt-3">
          <p class="white--text subheading mt-2">
            Witaj, {{ $store.state.firstName }}
            {{ $store.state.lastName }}
          </p>
          <p class="white--text subheading mt-2">Status: {{ $store.state.accountType }}</p>
          <p
            v-if="$store.state.accountType == 'student'"
            class="white--text subheading mt-2"
          >Indeks: {{ $store.state.index }}</p>
        </v-flex>
      </v-layout>
      <v-list v-if="$store.state.isUserLogedIn" class="list">
        <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
          <v-list-tile-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">
              {{
              link.title
              }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile router v-if="$store.state.accountType == 'profesor'" :to="{ name: 'group' }">
          <v-list-tile-action>
            <v-icon class="white--text">school</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">Grupy studenckie</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          router
          v-if="$store.state.accountType == 'profesor'"
          :to="{ name: 'StudentsReports' }"
        >
          <v-list-tile-action>
            <v-icon class="white--text">library_books</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">Raporty studenckie</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile router :to="{ name: 'team' }">
          <v-list-tile-action>
            <v-icon class="white--text">face</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">Twórcy</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
/* eslint-disable no-console */

export default {
  data() {
    return {
      drawer: false,
      snackbar: false,
      links: [
        { icon: "dashboard", title: "Strona główna", route: "/" },
        { icon: "library_add", title: "Dodaj do bazy", route: "/form" },
        { icon: "backup", title: "Baza gatunków", route: "/type" },
        { icon: "backup", title: "Baza roślin", route: "/plants" },
        {
          icon: "assignment",
          title: "Moje formularze",
          route: "/reports"
        },
        { icon: "gps_fixed", title: "Mapa stanowisk", route: "/maps" }
      ]
    };
  },
  methods: {
    logout(route) {
      const axios = require("axios");

      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };

      const Logout = () => {
        try {
          return axios.get(
            process.env.VUE_APP_API_URL + "users/invalidate-token/",
            Config
          );
        } catch (error) {
          console.log(error);
        }
      };

      const showLogoutResponse = async () => {
        const data = Logout()
          .then(response => {
            this.$store.dispatch("setToken", null);
            this.snackbar = true;
          })
          .catch(error => {
            this.$store.dispatch("setToken", null);
            console.log(error);
          });
      };
      showLogoutResponse();
    }
  }
};
</script>

<style scoped lang="scss">
.headerTitle {
  color: white;
  font-size: 29px;
}
.v-btn {
  font-size: 16px;
}
.text {
  padding: 4px;
  font-size: 20px;
}

.v-list__tile__title {
  font-size: 20px;
}
.v-list__tile__content {
  font-size: 15px;
  margin-left: 6px;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.v-btn--floating.v-btn--small {
  height: 44px;
  width: 44px;
  & .v-icon {
    font-size: 30px;
  }
}
.fas {
  margin-left: 6px;
  font-size: 20px;
}
.register {
  font-size: 14px;
  margin-left: 6px;
}
.logout {
  font-size: 18px;
}
.snackbar {
  margin-top: 5%;
  &__title {
    font-size: 20px;
  }
}
</style>
