<template>
  <div class="home">
    <h2>Witaj we FloraTer</h2>
    <p>
      FloraTer jest programem umożliwiającym cyfrowe wykonywanie spisów
      florystycznych w terenie,
      <br />przesyłanie, przechowywanie i analizę zebranych danych.
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: ""
    };
  },
  methods: {
    start() {
      this.$store.commit("setHeaderTitle", this.title);
    }
  },
  created() {
    this.start();
  }
};
</script>
<style scoped lang="scss">
h2 {
  margin-top: 100px;
  font-size: 34px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}
</style>
