<template>
  <div class="login">
    <v-layout justify-center>
      <v-snackbar class="snackbar" v-model="snackbar" :timeout="4000" top right color="blue">
        <span class="snackbar__title">Zalogowano pomyślnie</span>
        <v-btn flat color="white" @click="snackbar = false">Zamknij</v-btn>
      </v-snackbar>
      <v-flex xs10 sm8 md6 lg4>
        <form action="#" @submit.prevent="log" v-on:keyup.enter="log">
          <v-text-field
            label="E-mail"
            name="email"
            v-model="email"
            :error-messages="emailErrors"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>
          <v-text-field
            label="Hasło"
            name="password"
            v-model="password"
            type="password"
            :error-messages="passwordErrors"
            required
            @input="$v.password.$touch()"
            @blur="$v.password.$touch()"
          ></v-text-field>
          <div class="login__buttons">
            <v-btn round class="login__clear" color="grey" @click="clear">Wyczyść</v-btn>
            <v-btn round class="login__log" color="primary" @click="log">Zaloguj się</v-btn>
          </div>
          <p class="login__register">
            Nie posiadasz jeszcze konta?
            <a href="/register">Zarejestruj się</a>
          </p>
        </form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { required, maxLength, minLength } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {
  mixins: [validationMixin],
  validations: {
    email: { required, minLength: minLength(1) },
    password: { required, minLength: minLength(1) }
  },
  data() {
    return {
      email: this.email,
      password: this.password,
      snackbar: false,
      title: "Logowanie"
    };
  },

  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.minLength &&
        errors.push("E-mail musi posiadać co najmniej 1 znak");
      !this.$v.email.required && errors.push("E-mail jest wymagany");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength &&
        errors.push("Hasło musi posiadać co najmniej 1 znak");
      !this.$v.password.required && errors.push("Hasło jest wymagane");
      return errors;
    }
  },

  methods: {
    clear() {
      this.$v.$reset();
      this.email = "";
      this.password = "";
    },

    userdata(token) {
      const axios = require("axios");

      let Config = {
        headers: {
          Authorization: "JWT " + token
        }
      };

      const UserData = () => {
        try {
          return axios.get(
            process.env.VUE_APP_API_URL + "users/user-data/",
            Config
          );
        } catch (error) {
          alert(error);
        }
      };

      const getUserDataResponse = async () => {
        const data = UserData()
          .then(response => {
            this.$store.commit("setUserData", response.data);
          })
          .catch(error => {
            alert(error);
          });
      };

      getUserDataResponse();
    },

    log() {
      const axios = require("axios");
      var token = "";
      var JSONParsed = "";
      var JSONdata = "";

      const Login = () => {
        try {
          return axios.post(
            process.env.VUE_APP_API_URL + "users/obtain-token/",
            {
              email: this.email,
              password: this.password
            }
          );
        } catch (error) {
          console.log(error);
        }
      };

      const showLoginResponse = async () => {
        const data = Login()
          .then(response => {
            token = response.data.token;
            JSONdata = JSON.stringify(response);
            JSONParsed = JSON.parse(JSONdata);
            this.$cookie.set("CookieToken", token, {
              expires: "2D"
            });
            this.$store.dispatch("setToken", this.$cookie.get("CookieToken"));
            this.snackbar = true;
            this.userdata(token);
            setTimeout(() => {
              this.$router.push("/");
            }, 500);
          })
          .catch(error => {
            alert("Logowanie nie powiodło się, wprowadź poprawne dane");
          });
      };
      showLoginResponse();
      return this.$store.state.setglobalToken;
    },
    start() {
      this.$store.commit("setHeaderTitle", this.title);
    }
  },
  created() {
    this.start();
  }
};
</script>

<style scoped lang="scss">
.login {
  &__register {
    margin-top: 10px;
    font-size: 15px;
  }
  &__clear {
    color: white;
    margin-left: 0;
  }
}
.snackbar {
  margin-top: 5%;
  &__title {
    font-size: 20px;
  }
}
a {
  text-decoration: none;
  &:hover {
    color: green;
  }
}
</style>
