<template>
  <div class="map">
    <GmapMap :center="center" :map-type-id="mapTypeId" :zoom="8">
      <GmapMarker
        v-for="(item, index) in newPositions"
        :key="index"
        :position="item.position"
        :label="item.label"
        :icon="item.icon"
        @click="center = item.position"
      />
    </GmapMap>
  </div>
</template>

<script>
export default {
  data() {
    return {
      center: {
        lat: 52.409538,
        lng: 16.931992
      },
      positions: [],
      newPositions: [],
      mapTypeId: "hybrid",
      title: "Mapa stanowisk"
    };
  },
  methods: {
    get() {
      this.$store.commit("setHeaderTitle", this.title);
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");

      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        }
      };
      axios
        .get(`${process.env.VUE_APP_API_URL}reports/main/?`, Config)
        .then(response => {
          this.positions = response.data.results;
        })
        .catch(error => {
          console.log(error);
        });
    },
    formatData() {
      setTimeout(() => {
        this.positions.map(el => {
          const location = el.location;
          const North = location.split(" ")[0]; // 32
          // console.log("NORTH: " + North);
          // let North_formatted = North.replace(/ /g, "");
          let East = location.split(" ")[1]; // 37 W
          // console.log("EAST: " + East);
          // let East_formatted = East.replace(/[a-zA-Z]+/g, "");
          // East_formatted = East_formatted.replace(/ /g, ""); // 37
          let North_formatted = parseFloat(North);
          let East_formatted = parseFloat(East);
          // console.log(el);
          this.newPositions.push({
            position: {
              lat: North_formatted,
              lng: East_formatted
            },
            label: {
              text: el.place,
              color: "white",
              fontWeight: "bold",
              fontSize: "18px"
            }
          });
        });
      }, 1000);
    }
  },
  created() {
    this.get();
  },
  mounted() {
    this.formatData();
  }
};
</script>

<style scoped lang="scss">
.map {
  box-sizing: border-box;
  margin-top: -60px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  margin-top: 0;
}

.vue-map-container {
  height: 100vh;
  width: 100vw;
}
</style>
