<template>
  <div class="plants">
    <h1 v-if="!$store.state.isUserLogedIn">Aby wyświetlić bazę roślin musisz być zalogowany!</h1>
    <div v-if="$store.state.isUserLogedIn">
      <v-container>
        <v-flex xs10 sm10 md8 lg10 class="plants__searching">
          <panel>
            <v-flex xs6 sm6 md6 lg6 class="searchbar">
              <v-text-field
                outline
                label="Wyszukaj po nazwach"
                placeholder="malva"
                @change="newSearch"
                v-model="search"
              ></v-text-field>
            </v-flex>
          </panel>
          <panel>
            <p>Sortuj po:</p>
            <v-radio-group v-model="order" row @change="newSearch">
              <v-radio color="success" label="nazwie łacińskiej" value="latin_name"></v-radio>
              <v-radio color="success" label="nazwie polskiej" value="polish_name"></v-radio>
              <v-radio color="success" label="herbarium" value="herbarium"></v-radio>
              <v-radio color="success" label="zasobach" value="resources"></v-radio>
            </v-radio-group>
            <p class="herb">Herbarium</p>
            <v-switch v-model="herbarium" :label="`${herbarium.toString()}`" @change="newSearch"></v-switch>
            <panel>
              <v-btn @click="clear" class="cleaning clear grey white--text">Wyczyść</v-btn>
            </panel>
          </panel>
        </v-flex>
        <v-card flat v-for="plant2 in type" :key="plant2.id">
          <v-layout row wrap class="plants__label">
            <v-flex xs10 sm6 md4 class="plants__latin">
              <div class="grey--text">Nazwa łacińska</div>
              <div>{{ plant2.latin_name }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="plants__polish">
              <div class="grey--text">Nazwa polska</div>
              <div>{{ plant2.polish_name }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="plants__herbarium">
              <div class="grey--text">Herbarium</div>
              <div v-if="plant2.herbarium == true">zebrane</div>
              <div v-if="plant2.herbarium == false">nie zebrane</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="plants__resources">
              <div class="grey--text">Zasoby</div>
              <div>{{ plant2.resources }}</div>
            </v-flex>
            <v-flex v-if="plant2.extra_info" xs6 sm4 md3 class="plants__description">
              <div class="grey--text">Opis</div>
              <div>{{ plant2.extra_info }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
        </v-card>
        <v-footer v-if="type != ''">
          <v-pagination
            v-model="page"
            :next-icon="nextIcon"
            :prev-icon="prevIcon"
            :length="length"
            :page="page"
            total-visible="7"
            @input="changePage"
          ></v-pagination>
        </v-footer>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      herbarium: "",
      order: [],
      type: [],
      items: [20, 100, 200, 500],
      limit: "30",
      title: "Baza roślin",
      page: 1,
      length: 15
    };
  },
  methods: {
    newSearch() {
      this.page = 1;
      this.get();
    },
    changePage() {
      this.get();
    },
    get() {
      this.$store.commit("setHeaderTitle", this.title);
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          herbarium: this.herbarium,
          ordering: this.order,
          offset: 20 * (this.page - 1),
          limit: 20
        }
      };
      axios
        .get(`${process.env.VUE_APP_API_URL}reports/plants/?`, Config)
        .then(response => {
          this.type = response.data.results;
          this.length = Math.ceil(response.data.count / 20);
        })
        .catch(error => {
          console.log(error);
        });
    },
    clear() {
      this.search = "";
      this.herbarium = "";
      this.page = 1;
      this.order = [];
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          herbarium: this.herbarium,
          ordering: this.order,
          offset: 20 * (this.page - 1),
          limit: 20
        }
      };
      axios
        .get(`${process.env.VUE_APP_API_URL}reports/plants/?`, Config)
        .then(response => {
          this.type = response.data.results;
          this.length = Math.ceil(response.data.count / 20);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.page = 1;
    this.get();
  }
};
</script>
<style scoped lang="scss">
.v-footer {
  display: flex;
  margin-top: 20px;
  background-color: transparent;
}
.v-pagination {
  justify-content: center;
  margin: auto;
}
.cleaning {
  margin-top: -10px;
  margin-left: -4px;
  margin-bottom: 20px;
}
.herb {
  margin-top: -16px;
}
.amount {
  margin-top: -84px;
  margin-bottom: 0px;
  margin-left: 500px;
  width: 260px;
}
.searchbar {
  margin-bottom: -16px;
}
.v-input {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  font-size: 36px;
}
p {
  font-size: 20px;
  margin-bottom: 0;
}
.plants {
  margin-top: -60px;
  &__searching {
    font-weight: bold;
    margin-bottom: -20px;
  }
  &__label {
    border-left: 6px solid greenyellow;
    font-size: 18px;
    margin-top: 20px;
  }
  &__id {
    padding-left: 10px;
    font-size: 20px;
    color: gray;
  }
  &__latin,
  &__polish,
  &__herbarium,
  &__resources {
    padding: 4px 0 0 10px;
  }
  &__description {
    padding: 10px 0 0 10px;
  }
  &__list {
    text-align: center;
  }
}
</style>
