<template>
  <v-layout justify-center>
    <v-snackbar class="snackbar" v-model="snackbar" :timeout="3000" top right color="blue">
      <span class="snackbar__title">Zarejestrowano pomyślnie</span>
      <v-btn flat color="white" @click="snackbar = false">Zamknij</v-btn>
    </v-snackbar>
    <v-flex xs10 sm8 md6 lg4>
      <v-form ref="form" v-model="valid" lazy-validation>
        <form>
          <input
            class="register__input"
            v-validate="'required'"
            name="first_name"
            type="text"
            label="first_name"
            placeholder="Imię"
            v-model="first_name"
            @input="$v.first_name.$touch()"
            @blur="$v.first_name.$touch()"
          />
          <span>{{ errors.first("first_name") }}</span>
          <v-spacer></v-spacer>
          <input
            class="register__input"
            v-validate="'required'"
            name="last_name"
            type="text"
            label="last_name"
            placeholder="Nazwisko"
            v-model="last_name"
            @input="$v.last_name.$touch()"
            @blur="$v.last_name.$touch()"
          />
          <span>{{ errors.first("last_name") }}</span>
          <v-spacer></v-spacer>
          <input
            class="register__input"
            v-validate="'required|email'"
            name="email"
            type="text"
            label="email"
            placeholder="E-Mail"
            v-model="email"
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          />
          <span>{{ errors.first("email") }}</span>
          <v-spacer></v-spacer>
          <input
            class="register__input"
            name="index"
            type="text"
            label="index"
            placeholder="Numer indeksu (jeśli jesteś studentem)"
            v-model="index"
            @input="$v.index.$touch()"
            @blur="$v.index.$touch()"
          />
          <span>{{ errors.first("index") }}</span>
          <v-spacer></v-spacer>
          <input
            class="register__input"
            v-validate="'required|password'"
            name="password"
            type="password"
            label="password"
            placeholder="Hasło"
            v-model="password"
            @input="$v.password.$touch()"
            @blur="$v.password.$touch()"
          />
          <span>{{ errors.first("password") }}</span>
          <div class="register__buttons">
            <v-spacer></v-spacer>
            <v-btn round class="register__send" color="primary" @click="send">Zarejestruj się</v-btn>
          </div>
        </form>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import {
  required,
  maxLength,
  minLength,
  email
} from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import VeeValidate from "vee-validate";

export default {
  mixins: [validationMixin],

  data() {
    return {
      first_name: this.first_name,
      last_name: this.last_name,
      email: this.email,
      password: this.password,
      snackbar: false,
      title: "Rejestracja"
    };
  },

  methods: {
    send() {
      const axios = require("axios");

      const Register = () => {
        try {
          return axios.post(process.env.VUE_APP_API_URL + "users/register/", {
            first_name: this.first_name,
            last_name: this.last_name,
            password: this.password,
            email: this.email,
            index: this.index
          });
        } catch (error) {
          console.log(error);
        }
      };

      const showRegistrationResponse = async () => {
        const data = Register()
          .then(response => {
            this.snackbar = true;
            setTimeout(() => {
              this.$router.push("/login");
            }, 1500);
          })
          .catch(error => {
            alert("Rejestracja nie powiodła się, wypełnij poprawnie formularz");
          });
      };
      showRegistrationResponse();
    },
    start() {
      this.$store.commit("setHeaderTitle", this.title);
    }
  },
  created() {
    this.start();
  }
};
</script>

<style scoped lang="scss">
.register {
  &__input {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    width: 500px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
  }
  &__send {
    margin-right: 0;
  }
}
.snackbar {
  margin-top: 5%;
  &__title {
    font-size: 20px;
  }
}
</style>
