<template>
  <div class="reports">
    <h1 v-if="!$store.state.isUserLogedIn">Aby zobaczyć grupy studenckie musisz być profesorem!</h1>
    <div v-if="$store.state.accountType == 'profesor'">
      <v-container>
        <!-- <v-flex xs10 sm10 md10 lg10 class="reports__searching">
          <panel>
            <v-flex xs8 sm10 md8 lg6>
              <v-text-field
                outline
                label="Wyszukaj"
                placeholder="FT1"
                @change="get"
                v-model="search"
              ></v-text-field>
            </v-flex>
            <v-flex xs6 sm4 md2 lg2 d-flex>
              <v-select
                :items="items"
                v-model="limit"
                value="item"
                label="Ilość rekordów"
                @change="get"
                solo
              ></v-select>
            </v-flex>
          </panel>
        </v-flex>-->

        <v-col class="d-flex reports__searching" cols="12" sm="6">
          <v-select
            :items="groups"
            item-text="specialization"
            item-value="id"
            v-model="selectionId"
            label="Wybierz grupę"
          ></v-select>
          <v-flex class="d-flex">
            <v-spacer></v-spacer>
            <v-btn @click="excel" class="buttonexcel clear blue white--text">Eksport</v-btn>
            <v-btn @click.stop="getDetails" class="buttonexcel clear blue white--text">Analiza</v-btn>
          </v-flex>
        </v-col>

        <v-card flat v-for="report in reports" :key="report.id">
          <v-layout row wrap class="reports__label">
            <v-flex xs7 sm5 md3 class="reports__latin">
              <div class="grey--text">Grupa</div>
              <div>{{ report.group }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="reports__latin">
              <div class="grey--text">Student</div>
              <div>{{ report.owner.index }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="reports__polish">
              <div class="grey--text">Stanowisko</div>
              <div>{{ report.place }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="reports__herbarium">
              <div class="grey--text">Siedlisko</div>
              <div>{{ report.habitat }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="reports__resources">
              <div class="grey--text">Data</div>
              <div>{{ report.user_date }}</div>
            </v-flex>
            <v-flex xs7 sm5 md3 class="reports__description">
              <div class="grey--text">Lokacja</div>
              <div>{{ report.location }}</div>
            </v-flex>
            <v-flex xs6 sm4 md2 class="reports__description">
              <div class="grey--text">Kwadrat</div>
              <div>{{ report.atpol_grid }}</div>
            </v-flex>
            <v-flex v-if="report.comment" xs6 sm4 md2 class="reports__description">
              <div class="grey--text">Opis</div>
              <div>{{ report.comment }}</div>
            </v-flex>

            <v-expansion-panel class="form__expansionPanel__positions">
              <v-expansion-panel-content v-for="plant in report.plants" :key="plant.id">
                <template v-slot:actions>
                  <v-icon color="success">$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                  <div class="form__expansionPanel__title">
                    Roślina: {{ plant.latin_name }} -
                    {{ plant.polish_name }}
                  </div>
                </template>
                <v-card class="form__expansionPanel__positions-title">
                  <ul>
                    <div v-for="plantsPhoto in plant.photo" :key="plantsPhoto.id">
                      <img v-bind:src="
													plantsPhoto.secure_url
												" />
                    </div>
                    <div v-if="plant.herbarium">
                      <li v-if="plant.herbarium == true">Herbarium: zebrane</li>
                      <li v-if="plant.herbarium == false">Herbarium: nie zebrane</li>
                    </div>
                    <li v-if="plant.resources">Zasoby: {{ plant.resources }}</li>
                    <li v-if="plant.extra_info">
                      Dodatkowe informacje:
                      {{ plant.extra_info }}
                    </li>
                    <template v-if="plant.details">
                      <li>
                        Dodatkowe informacje o roślinie
                        z bazy:
                      </li>
                      <li>
                        Nazwa:
                        {{ plant.details.latin_name }} /
                        {{ plant.details.polish_name }}
                      </li>
                      <li>
                        Nazwa rodziny:
                        {{
                        plant.details
                        .family_latin_name
                        }}
                        /
                        {{
                        plant.details
                        .family_polish_name
                        }}
                      </li>
                      <li v-if="
													plant.details.name_synonyms
												">
                        {{
                        plant.details.name_synonyms
                        }}
                      </li>
                      <li
                        v-if="
													plant.details
														.group_raunkiaer
												"
                      >
                        Grupa Raunkiaera:
                        {{
                        plant.details
                        .group_raunkiaer
                        }}
                      </li>
                      <li v-if="
													plant.details.group_geohist
												">
                        Grupa geograficzno-historyczna:
                        {{
                        plant.details.group_geohist
                        }}
                      </li>
                    </template>
                  </ul>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-layout>
          <v-divider></v-divider>
        </v-card>

        <v-dialog class="dialog" v-model="dialog" width="80%" overlay-opacity="0.6">
          <v-card raised>
            <v-card-title class="headline">Analiza wyników:</v-card-title>
            <v-card-actions class="dialog__close">
              <v-btn color="green white--text" text @click="dialog = false">Zamknij</v-btn>
            </v-card-actions>
            <v-card-text>
              <div class="mt-1">Liczba reportów: {{ analysis.reports_count }}</div>
              <div class="mt-1">Liczba roślin: {{ analysis.plants_count }}</div>
              <div class="mt-1">
                Grupy:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.groups"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                Miejsca:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.places"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                Lokacje:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.locations"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                ATPOL:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.atpol"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                ATPOL 5x5:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.atpol_5x5"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                Kontrybutorzy:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.contributors"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>

              <div class="mt-1">
                Rośliny - nazwy polskie:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.plants_names_polish"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                Rośliny - nazwy łacińskie:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.plants_names_latin"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                Rodziny roślin - nazwy polskie:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.plants_family_names_polish"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
              <div class="mt-1">
                Rodziny roślin - nazwy łacińskie:
                <div
                  class="ml-4"
                  v-for="(value, key) in analysis.plants_family_names_latin"
                  v-bind:key="key.id"
                >{{ key }} - {{ value }}</div>
              </div>
            </v-card-text>
          </v-card>
        </v-dialog>
        <v-footer v-if="reports != ''">
          <v-pagination
            v-model="page"
            :next-icon="nextIcon"
            :prev-icon="prevIcon"
            :length="length"
            :page="page"
            total-visible="7"
            @input="changePage"
          ></v-pagination>
        </v-footer>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      order: [],
      reports: [],
      items: [20, 100, 200, 500],
      currentUrl: "",
      selectionId: 0,
      limit: "30",
      dialog: false,
      analysis: [],
      title: "Raporty studenckie",
      page: 1,
      length: 15
    };
  },
  watch: {
    selectionId: function(newId, oldId) {
      this.page = 1;
      this.reports = [];
      this.get();
    }
  },
  methods: {
    changePage() {
      this.get();
    },
    excel() {
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      if (this.selectionId != 0)
        window.location.href =
          `${process.env.VUE_APP_API_URL}reports/main/excel/?all=true&jwt=` +
          JWT_TOKEN;
      else
        window.location.href =
          `${process.env.VUE_APP_API_URL}reports/main/excel/?group_id=` +
          this.selectionId +
          `&jwt=` +
          JWT_TOKEN;
    },
    excelAll() {
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      window.location.href =
        `${process.env.VUE_APP_API_URL}reports/main/excel/?all=true&jwt=` +
        JWT_TOKEN;
    },
    getDetails() {
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");

      var url = `${process.env.VUE_APP_API_URL}reports/main/analysis/?all=true`;
      if (this.selectionId != 0) {
        url =
          `${process.env.VUE_APP_API_URL}reports/main/analysis/?group_id=` +
          this.selectionId;
      }

      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          ordering: this.order
        }
      };
      axios
        .get(url, Config)
        .then(response => {
          this.analysis = response.data;
          this.dialog = true;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getGroups() {
      this.$store.commit("setHeaderTitle", this.title);
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");
      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          ordering: this.order,
          offset: 20 * (this.page - 1),
          limit: 20
        }
      };
      axios
        .get(`${process.env.VUE_APP_API_URL}reports/groups/`, Config)
        .then(response => {
          this.groups = response.data.results;
          this.length = Math.ceil(response.data.count / 20);
          this.groups.push({ id: 0, specialization: "Wszystkie" });
          console.log(this.groups);
        })
        .catch(error => {
          console.log(error);
        });
    },
    get() {
      this.$store.commit("setHeaderTitle", this.title);
      const axios = require("axios");
      var JWT_TOKEN = this.$cookie.get("CookieToken");

      var url = `${process.env.VUE_APP_API_URL}reports/main/?all=true`;
      if (this.selectionId != 0) {
        url =
          `${process.env.VUE_APP_API_URL}reports/main/?group_id=` +
          this.selectionId;
      }

      this.currentUrl = url;

      let Config = {
        headers: {
          Authorization: "JWT " + JWT_TOKEN
        },
        params: {
          search: this.search,
          ordering: this.order,
          offset: 20 * (this.page - 1),
          limit: 20
        }
      };
      axios
        .get(url, Config)
        .then(response => {
          this.reports = response.data.results;
          this.length = Math.ceil(response.data.count / 20);
          console.log(this.reports);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.page = 1;
    this.getGroups();
    this.get();
  }
};
</script>
<style scoped lang="scss">
.v-footer {
  display: flex;
  margin-top: 20px;
  background-color: transparent;
}
.v-pagination {
  justify-content: center;
  margin: auto;
}
.dialog {
  position: relative;
  &__close {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
.buttonexcel {
  width: 30px;
}
.v-input {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  font-size: 36px;
}
p {
  font-size: 20px;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
}
.reports {
  margin-top: -60px;
  &__label {
    border-left: 6px solid greenyellow;
    font-size: 18px;
    margin-top: 20px;
  }
  &__searching {
    font-weight: bold;
  }
  &__id {
    padding-left: 10px;
    font-size: 20px;
    color: gray;
  }
  &__latin,
  &__polish,
  &__herbarium,
  &__resources {
    padding: 4px 0 0 10px;
  }
  &__description {
    padding: 10px 0 0 10px;
  }
  &__list {
    text-align: center;
  }
}
</style>
