<template>
  <div class="team">
    <v-container class="my-5">
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
          <v-card flat class="text-xs-center ma-3">
            <v-responsive class="pt-4">
              <v-avatar size="90" class="grey lighten-2">
                <img :src="person.avatar" alt="zdjęcie autora" />
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{ person.name }}</div>
              <div class="team__role grey--text">{{ person.role }}</div>
            </v-card-text>
            <v-card-actions class="right">
              <v-btn icon @click="person.show = !person.show">
                <v-icon>
                  {{
                  person.show
                  ? "keyboard_arrow_down"
                  : "keyboard_arrow_up"
                  }}
                </v-icon>
              </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
              <v-card-text class="team__description" v-show="person.show">{{ person.description }}</v-card-text>
            </v-slide-y-transition>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "Twórcy",
      team: [
        {
          name: "Krzystof Stępniak",
          role: "Back-end Developer",
          description: "Zajmuję się backend'em w Pythonie i Django.",
          avatar: "/Krzysztof.png",
          show: false
        },
        {
          name: "Sebastian Ufnal",
          role: "Android Developer",
          description: "Zajmuję się aplikacją mobilną w Javie.",
          avatar: "/Sebastian.png",
          show: false
        },
        {
          name: "Mikołaj Celka",
          role: "Android Developer",
          description: "Zajmuję się aplikacją mobilną w Javie.",
          avatar: "/Mikolaj.png",
          show: false
        },
        {
          name: "Artur Białoskórski",
          role: "Front-end Developer",
          description: "Zajmuję się frontend'em w Vue.js.",
          avatar: "/Artur.png",
          show: false
        }
      ]
    };
  },
  methods: {
    start() {
      this.$store.commit("setHeaderTitle", this.title);
    }
  },
  created() {
    this.start();
  }
};
</script>

<style scoped lang="scss">
h1 {
  text-align: center;
  font-size: 36px;
}
.team {
  &__description {
    font-size: 15px;
  }
  &__role {
    font-size: 16px;
    font-weight: bold;
  }
}
</style>
