<template>
  <div class="type">
    <h1 v-if="!$store.state.isUserLogedIn">Aby wyświetlić bazę gatunków musisz być zalogowany!</h1>
    <div v-if="$store.state.isUserLogedIn">
      <v-container>
        <v-flex xs10 sm10 md8 lg10 class="type__searching">
          <panel>
            <v-flex xs8 sm10 md8 lg6 class="searchbar">
              <v-text-field
                outline
                label="Wyszukaj po nazwach"
                placeholder="Acer campestre"
                @change="newSearch"
                v-model="search"
              ></v-text-field>
            </v-flex>
            <p>Sortuj po:</p>
            <v-radio-group v-model="order" row @change="newSearch">
              <v-radio color="success" label="nazwie łacińskiej" value="latin_name"></v-radio>
              <v-radio color="success" label="nazwie polskiej" value="polish_name"></v-radio>
              <v-radio color="success" label="nazwie łacińskiej rodziny" value="family_latin_name"></v-radio>
              <v-radio color="success" label="nazwie polskiej rodziny" value="family_polish_name"></v-radio>
            </v-radio-group>
            <panel my-14>
              <v-btn @click="clear" class="cleaning clear grey white--text">Wyczyść</v-btn>
            </panel>
          </panel>
        </v-flex>

        <v-card flat v-for="plant in plants" :key="plant.id">
          <v-layout row wrap align-center justify-start class="type__label">
            <v-flex xs6 sm4 md3 class="type__latin">
              <div class="grey--text">Nazwa łacińska</div>
              <div>{{ plant.latin_name }}</div>
            </v-flex>
            <v-flex xs6 sm4 md3 class="type__polish">
              <div class="grey--text">Nazwa polska</div>
              <div>{{ plant.polish_name }}</div>
            </v-flex>
            <v-flex xs4 sm4 md4 class="type__family_latin">
              <div class="grey--text">Łacińska rodzina</div>
              <div>{{ plant.family_latin_name }}</div>
            </v-flex>
            <v-flex xs4 sm3 md2 class="type__family_polish">
              <div class="grey--text">Polska rodzina</div>
              <div>{{ plant.family_polish_name }}</div>
            </v-flex>
            <v-flex xs6 sm4 md3 class="type__raunkiaer">
              <div class="grey--text">Grupa Raunkiaera</div>
              <div>{{ plant.group_raunkiaer }}</div>
            </v-flex>
            <v-flex xs6 sm4 md3 class="type__geohist">
              <div class="grey--text">Grupa geograficzno-historyczna</div>
              <div>{{ plant.group_geohist }}</div>
            </v-flex>
            <v-flex v-if="plant.name_synonyms.length !== 0" xs6 sm4 md5 class="type__synonyms">
              <div class="grey--text">Synonimy</div>
              <div>{{ plant.name_synonyms }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
        </v-card>
        <v-footer v-if="plants != ''">
          <v-pagination
            v-model="page"
            :next-icon="nextIcon"
            :prev-icon="prevIcon"
            :length="length"
            :page="page"
            total-visible="7"
            @input="changePage"
          ></v-pagination>
        </v-footer>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      plants: [],
      search: "",
      order: [],
      items: [20, 100, 200, 500],
      title: "Baza gatunków",
      page: 1,
      length: 15
    };
  },
  methods: {
    clear() {
      this.order = [];
      this.search = "";
    },
    newSearch() {
      this.page = 1;
      this.get();
    },
    changePage() {
      this.get();
    },
    get() {
      this.$store.commit("setHeaderTitle", this.title);

      const axios = require("axios");
      axios
        .get(`${process.env.VUE_APP_API_URL}plants/?`, {
          params: {
            search: this.search,
            ordering: this.order,
            offset: 20 * (this.page - 1),
            limit: 20
          }
        })
        .then(response => {
          this.plants = response.data.results;
          this.length = Math.ceil(response.data.count / 20);
        })
        .catch(error => {
          console.log(error);
        });
    },
    clear() {
      this.search = "";
      this.order = [];
      const axios = require("axios");
      axios
        .get(`${process.env.VUE_APP_API_URL}plants/?`, {
          params: {
            search: this.search,
            ordering: this.order
          }
        })
        .then(response => {
          this.plants = response.data.results;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.page = 1;
    this.get();
  }
};
</script>
<style scoped lang="scss">
.v-footer {
  display: flex;
  margin-top: 20px;
  background-color: transparent;
}
.v-pagination {
  justify-content: center;
  margin: auto;
}
a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.clear {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.cleaning {
  margin-top: -10px;
  margin-left: -4px;
  margin-bottom: 20px;
}
.excel {
  margin-left: 10px;
}
.amount {
  margin-top: -84px;
  margin-bottom: -20px;
  margin-left: 500px;
  width: 400px;
}
.searchbar {
  margin-bottom: -16px;
}
.v-input {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  font-size: 36px;
}
p {
  font-size: 20px;
  margin-bottom: 0;
}
.type {
  margin-top: -40px;
  &__label {
    border-left: 6px solid #3cd1c2;
    font-size: 18px;
    margin-top: 20px;
  }
  &__searching {
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  &__latin,
  &__polish,
  &__family_latin,
  &__family_polish,
  &__raunkiaer,
  &__synonyms {
    padding: 4px 0 0 10px;
  }
  &__geohist {
    padding: 10px 0 0 10px;
  }
  &__list {
    text-align: center;
  }
}
</style>
