<template>
  <div id="app">
    <v-app>
      <Header></Header>
      <v-content class="app_content">
        <router-view></router-view>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import axios from "axios";
import VueAxios from "vue-axios";

export default {
  name: "app",
  components: {
    Header
  },
  data() {
    return {
      info: null
    };
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Chakra Petch", sans-serif;
  color: #3e3e3e;
  margin-top: 60px;
  background-color: whitesmoke;
}
.app_content {
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>
